/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    background:linear-gradient(
        135deg,
        rgba(33, 33, 154, 0.95),
        rgba(122, 15, 154, 0.95)
    );
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

/* Navbar */
nav{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   background:linear-gradient(
        135deg,
        rgba(33, 33, 154, 0.95),
        rgba(122, 15, 154, 0.95)
    );

    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Left */
.left-half{
    display: flex;
    align-items: center;
}

.logo{
    font-size:2.2rem;
    color:#ffffff;
    margin-right:18px;
    cursor:pointer;
    transition:.3s ease;
}

.logo:hover{
    color:#6EE7FF;
    transform:scale(1.08);
    text-shadow:0 0 18px rgba(110,231,255,.8);
}

.home{
    width:48px;
    height:48px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.12);

    color:#dddddd;

    border-radius:50%;

    margin-right:18px;

    cursor:pointer;

    transition:.35s ease;
}

.home:hover{

    background:linear-gradient(
        135deg,
        rgba(33,33,154,.95),
        rgba(122,15,154,.95)
    );

    color:#fff;

    transform:translateY(-3px);

    box-shadow:0 0 18px rgba(122,15,154,.4);
}

.search{

    width:380px;
    height:50px;

    display:flex;
    align-items:center;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.12);

    border-radius:30px;

    transition:.35s ease;
}

.search:hover{

    border-color:#6EE7FF;

    box-shadow:0 0 18px rgba(110,231,255,.25);

}

.search-icon{

    color:#d7d7d7;

    font-size:1.2rem;

    padding:0 18px;

    transition:.3s;
}

.search:hover .search-icon{

    color:#6EE7FF;

}

.input-box{

    width:100%;
    height:100%;

    background:transparent;

    color:white;

    border:none;
    outline:none;

    font-size:15px;
}

.input-box::placeholder{

    color:#d2d2d2;

}

.right-half{
    display:flex;
    align-items:center;
    gap:20px;
    margin-left:auto;
}

.right-half_pt-1,
.right-half_pt-2{
    display:flex;
    align-items:center;
    gap:15px;
}

.voice-assis{

    width:48px;
    height:48px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.12);

    color:#dddddd;

    border-radius:50%;

    cursor:pointer;

    transition:.35s ease;
}

.voice-assis:hover{

    background:linear-gradient(
        135deg,
        rgba(33,33,154,.95),
        rgba(122,15,154,.95)
    );

    color:white;

    transform:translateY(-3px);

    box-shadow:0 0 18px rgba(122,15,154,.4);
}

.download{

    display:flex;
    justify-content:center;
    align-items:center;

    gap:10px;

    height:48px;

    padding:0 22px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.12);

    color:#dddddd;

    border-radius:30px;

    cursor:pointer;

    transition:.35s ease;
}

.download:hover{

    background:linear-gradient(
        135deg,
        rgba(33,33,154,.95),
        rgba(122,15,154,.95)
    );

    color:white;

    transform:translateY(-3px);

    box-shadow:0 0 18px rgba(122,15,154,.4);

}

.login-button{

    width:125px;
    height:48px;

    border:none;

    border-radius:30px;

    cursor:pointer;

    background:linear-gradient(
        135deg,
        rgba(33,33,154,.95),
        rgba(122,15,154,.95)
    );

    box-shadow:0 8px 20px rgba(122,15,154,.35);

    transition:.35s ease;
}

.login-button a{

    color:white;

    text-decoration:none;

    font-weight:700;

    letter-spacing:.5px;
}

.login-button:hover{

    transform:translateY(-3px);

    box-shadow:0 12px 28px rgba(122,15,154,.55);

}
/* Main */

.main{
    height:calc(100vh - 4rem);

    display:flex;

    gap:15px;

    padding:15px;

    overflow:hidden;
}

/* Left */

.main-left-part{
    width:22%;
    height:100%;

    background:rgba(0,0,0,.15);

    border-radius:12px;

    padding:15px;

    overflow:hidden;
}

/* Right */

.main-right-part{
    width:78%;
    height:100%;

    background:rgba(0,0,0,.15);

    border-radius:12px;

    position:relative;

    overflow-y:auto;
    overflow-x:hidden;

    padding:20px 130px 20px 20px;

    scrollbar-width:none;
}

.main-right-part::-webkit-scrollbar{
    display:none;
}

/* Library */

.library{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:20px;
}

.library p{
    font-size:1.1rem;
    font-weight:700;
    color:rgb(255, 255, 255);
}

/* Library Scroll */

.box-container{
    height:calc(100% - 60px);

    overflow-y:auto;

    padding-right:8px;

    scrollbar-width:none;
}

.box-container::-webkit-scrollbar{
    width:6px;
}

.box-container::-webkit-scrollbar-track{
    background:transparent;
}

.box-container::-webkit-scrollbar-thumb{
    background:rgba(255,255,255,.25);
    border-radius:20px;
}

.box-container::-webkit-scrollbar{
    display:none;
}

/* Box */

.box{
    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.08);

    border-radius:15px;

    padding:18px;

    margin-bottom:18px;

    transition:.3s;
}

.box:hover{
    background:rgba(255,255,255,.14);
    transform:translateY(-2px);
}

/* Heading */

.box h4{
    color:rgb(255, 255, 255);

    font-size:1rem;

    margin-bottom:10px;
}

/* Text */

.box p{
    color:#fffefe;

    font-size:.9rem;

    margin-bottom:15px;

    line-height:22px;
}

/* Button */

.box button{
    padding:10px 18px;

    border:none;

    border-radius:25px;

    background:rgb(255, 255, 255);

    color:gray;

    font-weight:700;

    cursor:pointer;

    transition:.3s;
}

.box button:hover{
    /* background:#e5e5e5; */
    transform:scale(1.05);
}

/* Icon */

.box i{
    font-size:2rem;
    color:#ff4d6d;
}

/* Music Section */

.music-section{
    margin-bottom:40px;
}

.music-section h2{
    color:rgb(255, 255, 255);
    font-size:1.5rem;
    font-weight:700;
    margin-bottom:20px;
}


/* Songs */

.songs{
    display:flex;
    gap:18px;

    overflow-x:auto;
    overflow-y:hidden;

    scroll-behavior:smooth;

    padding-bottom:10px;

    scrollbar-width:none;
}

.songs::-webkit-scrollbar{
    display:none;
}


/* Card */

.music-card{
    min-width:180px;
    background:rgba(255,255,255,.06);

    border-radius:15px;

    padding:15px;

    cursor:pointer;

    position:relative;

    transition:.3s;
}

.music-card:hover{
    background:rgba(255,255,255,.15);
    transform:translateY(-6px);
}


/* Image */

.music-card img{
    width:150px;
    height:150px;

    object-fit:cover;

    border-radius:12px;

    display:block;

    margin:auto;
}


/* Title */

.img-title{
    margin-top:15px;

    color:rgb(255, 255, 255);

    font-size:1rem;

    font-weight:600;
}


/* Description */

.img-description{
    margin-top:6px;

    color:#ffffff;

    font-size:.85rem;

    line-height:18px;
}


/* Play Button */

.music-play-btn{
    position:absolute;

    bottom:85px;
    right:22px;

    width:50px;
    height:50px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(33, 33, 154, 0.95);
    

    border-radius:50%;

    color:rgba(122, 15, 154, 0.95);

    font-size:2rem;

    opacity:0;

    transform:translateY(15px);

    transition:.3s;
}

.music-card:hover .music-play-btn{
    opacity:1;
    transform:translateY(0);
}


/* Play Hover */

.music-play-btn:hover{
    transform:scale(1.1);
}


/* AI Mood Detector */


.corner{
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1000;
}

/* AI Mood Detector */

.ai_mood_detector{
    width: 105px;
    padding: 12px 10px;

    background: rgba(255,255,255,.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,.12);
    border-radius: 18px;

    box-shadow:
        0 8px 25px rgba(0,0,0,.35),
        0 0 15px rgba(29,185,84,.15);

    text-align: center;

    transition: .3s ease;
}

.ai_mood_detector:hover{
    transform: translateY(-3px);
    box-shadow:
        0 12px 30px rgba(0,0,0,.45),
        0 0 20px rgba(29,185,84,.25);
}

/* Heading */

.ai_mood_detector h2{
    margin:0 0 12px;
    color:#ffffff;
    font-size:.85rem;
    font-weight:600;
    letter-spacing:.5px;
}

/* Mood List */

.moods{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

/* Mood Buttons */

.mood{
    width:48px;
    height:48px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:1.6rem;

    background:rgba(255,255,255,.12);

    border:none;
    border-radius:50%;

    cursor:pointer;

    transition:all .3s ease;
}

/* Hover */

.mood:hover{
    transform:scale(1.12);

    background:linear-gradient(135deg,rgba(33, 33, 154, 0.95),
        rgba(122, 15, 154, 0.95));

    box-shadow:
        0 0 15px rgba(33, 33, 154, 0.95);
}

/* Selected Mood */

.mood.active{
    background:linear-gradient(135deg,rgba(33, 33, 154, 0.95));

    box-shadow:
        0 0 20px rgba(122, 15, 154, 0.95);
}

/* Responsive */

@media(max-width:1200px){

    .corner{
        display:none;
    }

}

/* Responsive */

@media(max-width:1200px){

    .search{
        width:300px;
    }

    .main-left-part{
        width:28%;
    }

    .main-right-part{
        width:72%;
    }

}


@media(max-width:900px){

    .main{
        flex-direction:column;
    }

    .main-left-part{
        width:100%;
        height:250px;
    }

    .main-right-part{
        width:100%;
        height:calc(100vh - 330px);
    }

    .search{
        width:220px;
    }

}


@media(max-width:700px){

    .download{
        display:none;
    }

    .voice-assis{
        display:none;
    }

    .search{
        width:180px;
    }

    .login-button{
        width:90px;
    }

    .corner{
        right:10px;
    }

}
/* Hover */

.mood:hover{
    background:rgba(122, 15, 154, 0.95);
    transform:scale(1.15);
}
/* Responsive */

@media(max-width:1200px){

    .corner{
        display: none;
    }
    .search{
        width:300px;
    }

    .corner{
        display:none;
    }

    .main-left-part{
        width:28%;
    }

    .main-right-part{
        width:72%;
        padding-right:20px;
    }

}

@media(max-width:900px){

    .main{
        flex-direction:column;
    }

    .main-left-part{
        width:100%;
        height:250px;
    }

    .main-right-part{
        width:100%;
        height:calc(100vh - 330px);
    }

    .search{
        width:220px;
    }
}

@media(max-width:700px){
    .download{
        display:none;
    }
    .voice-assis{
        display:none;
    }
    .search{
        width:180px;
    }
    .login-button{
        width:90px;
    }
}

.music-control{
    position:fixed;
    bottom:0;
    left:0;

    width:100%;
    height:85px;

    background:rgba(255, 255, 255, 0.92);
    backdrop-filter:blur(15px);

    border-top:1px solid rgba(255,255,255,.08);

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 25px;

    z-index:999;
}

/* Left */

.song-info{
    display:flex;
    align-items:center;
    gap:12px;
    width:25%;
}

.song-info img{
    width:60px;
    height:60px;
    border-radius:10px;
    object-fit:cover;
}

.song-details h4{
    color:rgb(255, 255, 255);
    font-size:15px;
}

.song-details p{
    color:#ffffff;
    font-size:13px;
}

.song-info i{
    color:rgb(255, 255, 255);
    cursor:pointer;
}

/* Center */

.player-controls{
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

.control-buttons{
    display:flex;
    align-items:center;
    gap:18px;
}

.control-buttons button{
    background:none;
    border:none;
    color:rgb(255, 251, 251);
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.control-buttons button:hover{
    color:#1DB954;
}

.play-btn{
    width:50px;
    height:50px;

    background:rgba(13, 10, 188, 0.6);

    color:rgb(255, 249, 249) !important;

    border-radius:50%;
}

.play-btn:hover{
    transform:scale(1.1);
}

.progress{
    width:100%;

    display:flex;
    align-items:center;
    gap:10px;

    color:rgb(255, 255, 255);
    font-size:12px;
}

.progress input{
    flex:1;
}

/* Right */

.volume{
    width:20%;

    display:flex;
    justify-content:flex-end;
    align-items:center;

    gap:10px;

    color:rgb(255, 255, 255);
}

.volume input{
    width:120px;
}
.music-control{

    position:fixed;
    bottom:15px;
    left:50%;

    transform:translateX(-50%);

    width:96%;
    height:90px;

    background:linear-gradient(
        135deg,
        rgba(33, 33, 154, 0.95),
        rgba(122, 15, 154, 0.95)
    );

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:25px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;

    box-shadow:
        0 15px 35px rgba(119, 4, 110, 0.45),
        0 0 25px rgba(19, 98, 162, 0.08);

    z-index:999;
}

/* LEFT */

.song-info{

    display:flex;
    align-items:center;

    gap:15px;

    width:28%;
}

.song-info img{

    width:62px;
    height:62px;

    border-radius:16px;

    object-fit:cover;

    box-shadow:0 5px 15px rgba(116, 14, 142, 0.5);

}

.song-text h4{

    color:#ffffff;

    font-size:16px;

    margin-bottom:4px;
}

.song-text p{

    color:#ffffff;

    font-size:13px;

}

/* CENTER */

.player{

    width:44%;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:12px;

}

.player-buttons{

    display:flex;

    align-items:center;

    gap:18px;

}

.icon-btn{

    width:42px;
    height:42px;

    border:none;

    border-radius:50%;

    background:rgba(255,255,255,.08);

    color:#ffffff;

    cursor:pointer;

    transition:.3s;

}

.icon-btn:hover{

    background:#352a7c;

    color:white;

    transform:translateY(-3px);

    box-shadow:0 0 15px rgba(5, 115, 184, 0.6);

}

.play-btn{

    width:58px;
    height:58px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    color:white;

    font-size:20px;

    background:linear-gradient(
        135deg,
        #074370,
        #851060
    );

    box-shadow:
        0 0 20px rgba(29,185,84,.6);

    transition:.3s;

}

.play-btn:hover{

    transform:scale(1.1);

}

/* Progress */

.progress-bar{

    width:100%;

    display:flex;

    align-items:center;

    gap:12px;

    color:hsl(0, 0%, 100%);

    font-size:13px;

}

.progress-bar input{

    flex:1;

    accent-color:#6d17c9;

}

/* RIGHT */

.right-controls{

    width:28%;

    display:flex;

    justify-content:flex-end;

    align-items:center;

    gap:12px;

}

.right-controls input{

    width:120px;

    accent-color:#471db9;

}